.PersonalInfo {
  margin-top: 25px;
  text-align: left;

  .personalInfoItem {
    display: flex;
    flex-direction: column;
    margin: 0px auto 20px;
    max-width: 750px;
  }
}

.checking {
  display: flex;
  align-items: center;
  min-width: 80px;
  margin-top: 10px;
  cursor: pointer;
}

.addressCheckbox {
  display: flex;
  align-items: center;
  width: 194px;
  justify-content: space-between;
  margin-left: 20px;
}
.addressConfirm {
  max-width: 750px;
  margin: 20px auto 0;
}
