.PersonalInfo {
  margin-top: 25px;
  text-align: left;
  margin-bottom: 135px;

  @media screen and (max-width: 775px) {
    margin-bottom: 50px;
  }

  .personalInfoItem {
    display: flex;
    flex-direction: column;
    margin: 0px auto 20px;
    max-width: 750px;
  }
}

.checking {
  display: flex;
  align-items: center;
  min-width: 80px;
  margin-top: 18px;
  cursor: pointer;
}

.addressCheckbox {
  display: flex;
  align-items: center;
  width: 194px;
  justify-content: space-between;
  margin-left: 20px;
}
.addressConfirm {
  max-width: 750px;
  margin: 20px auto 0;
}

.addressPropiski {
  margin-top: 30px;

  .addressItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

    @media screen and (max-width: 775px) {
      flex-direction: column;
    }

    .addressItemsInfo {
      width: 45%;

      @media screen and (max-width: 775px) {
        width: 100%;
      }
    }
  }
}
