.address {
  padding: 10px 0 0 0;
  text-align: left;
  text-align: center;
  margin: 0 0 130px;

  .addressInfoItem {
    display: flex;
    flex-direction: column;
    margin: 20px auto 50px;
    max-width: 750px;
  }
}
