.acceptanceInfo {
  h2 {
    font-size: 28px;
    font-weight: 600;
  }

  .infoBox {
    position: relative;
    width: 100%;
    height: calc(100vh - 260px);
    background: #000;
    background: #fff;
    border-radius: 50px;
    margin-top: 40px;
    padding: 60px 60px 40px 60px;
    text-align: left;

    p {
      margin: 25px 0;
    }

    .infoBoxItem {
      height: 270px;
      overflow: scroll;
    }

    .checking {
      display: flex;
      align-items: center;
      min-width: 80px;
      margin-top: 10px;
    }

    .infoCheckboxLabel {
      font-size: 18px;
      margin-left: 10px;
    }
  }
}
