.operator_view {
  display: flex;
  justify-content: space-between;
  //   margin-top: 20px;
  text-align: start;
  font-family: "Montserrat";

  .operator_view_left {
    width: 45%;

    .operator_view_left_item {
      margin: 0 0 10px;
    }
  }

  .operator_view_right {
    width: 45%;

    .operator_view_right_item {
      margin: 0 0 10px;
    }
  }
}

.actionBtns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.continueBtn {
  width: 270px;
  height: 55px;
  box-shadow: 15px 15px 50px 0px #0000004d;
  border: none;
  border-radius: 15px;
  margin: 15px 0 0;
  cursor: pointer;
  background: #fff;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
}

.actionBtns {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.operator_viewChild {
  display: flex;
  align-items: center;
  gap: 15px;

  .operator_viewChild_item {
    width: 48%;
  }
}
