@import "../../fonts/style.scss";

.languages {
  margin-top: 100px;

  h2 {
    margin-bottom: 25px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 33px;
  }
}

.input {
  box-shadow: 15px 15px 50px 0px #00000033;
  margin: 0 auto;
  border: "none";
  border-radius: 50px;
  text-align: left;
  font-size: 24px;
  max-width: 100%;
  height: 100%;
  position: absolute;
}

.select {
  position: relative;
  max-width: 797px;
  min-width: 100%;
  height: 83px;
  max-height: 100%;
}
.option {
  font-size: 27px;
  font-weight: 500;

  span {
    margin-left: 40px;
  }
}
