@import "../../fonts/style.scss";

.languages {
  padding-top: 135px;

  h2 {
    margin-bottom: 20px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
  }
}

.input {
  box-shadow: 15px 15px 50px 0px #00000033;
  margin: 0 auto;
  border: "none";
  border-radius: 60px;
  text-align: left;
  font-size: 24px;
  max-width: 570px;
  height: 56px;
  position: absolute;
  outline: none;
}

.option {
  font-size: 20px;
  font-weight: 500;

  span {
    margin-left: 50px;
  }
}

#language {
  .css-1nmdiq5-menu {
    display: none !important;
    border-radius: 25px !important;
    overflow: hidden;
  }
}
