.checkingInfo {
  padding: 5px 0 0 0;
  z-index: 9;
  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .infoBox {
    max-width: 1200px;
    min-height: 300px;
    margin: 15px auto;
  }

  .infoCheck {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    .infoCheckItems {
      width: 45%;
    }
  }

  .infoCheckChild {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .infoCheckChildItem {
      width: 47%;
    }
  }
}
