.checkingInfo {
  padding: 5px 0 0 0;
  z-index: 9;
  text-align: left;
  h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .infoBox {
    margin: 20px auto 25px;
  }

  .infoCheck {
    max-width: 1200px;
    min-height: 300px;
    max-height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    .infoCheckItems {
      width: 45%;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 991px) {
      height: 380px;
      padding: 20px;
      overflow: scroll;
    }

    @media screen and (max-width: 775px) {
      flex-wrap: nowrap;
      flex-direction: column;
      height: 350px;
    }
  }

  .infoCheckChild {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .infoCheckChildItem {
      width: 47%;

      @media screen and (max-width: 991px) {
        width: 100%;
        margin: 10px 0;
      }
    }

    @media screen and (max-width: 991px) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  .confirmBtn {
    width: 350px;
    height: 60px;
    box-shadow: 15px 15px 50px 0px #00000033;
    background: #fff;
    border: none;
    border-radius: 50px;
    color: #464343;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 50px;
    z-index: 99;
    margin: 15px auto 0;
    font-family: "Montserrat";
  }
}
